.buy-direct {

  &__block {
    &--action {
      margin: 0 0 16px;

      &:last-child {
        margin: 0 0 40px;
      }
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &--title {
    text-align: left;
    margin-bottom: 32px;
  }
}
