.container {
  //max-width: 1020px; //when fixed at 1020 px, the icons merge with the background
  margin: 0 auto;
  padding: 0 20px;

  @include onDesktop {
    padding: 0 120px;
  }

  @include onTablet {
    padding: 0 72px;
  }
}
